.bg{
    background-color: #1abc9c;
}

.line{
    margin: 10px;
    width: 8%;
    height: 4px;
    background-color: #fff;

}

.sizeHeading{
    font-size: 4rem;
    line-height: 2.75rem;
    font-weight: 700;
}

